In [107]:
import pandas as pd
path=r'C:\Users\DEVA NANTHAN\Documents\youtube\youtube_ad_revenue_dataset.csv'
df=pd.read_csv(path)
df

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,vid_3092,2024-09-24 10:50:40.993199,9936,1221.0,320.0,26497.214184,2.862137,228086,Entertainment,TV,IN,203.178237
1,vid_3459,2024-09-22 10:50:40.993199,10017,642.0,346.0,15209.747445,23.738069,736015,Gaming,Tablet,CA,140.880508
2,vid_4784,2024-11-21 10:50:40.993199,10097,1979.0,187.0,57332.658498,26.200634,240534,Education,TV,CA,360.134008
3,vid_4078,2025-01-28 10:50:40.993199,10034,1191.0,242.0,31334.517771,11.770340,434482,Entertainment,Mobile,UK,224.638261
4,vid_3522,2025-04-28 10:50:40.993199,9889,1858.0,477.0,15665.666434,6.635854,42030,Education,Mobile,CA,165.514388
...,...,...,...,...,...,...,...,...,...,...,...,...
122395,vid_2902,2024-12-14 10:50:40.993199,9853,1673.0,147.0,42075.704885,25.490195,210818,Education,Tablet,US,280.986396
122396,vid_3890,2024-07-13 10:50:40.993199,10128,1709.0,63.0,57563.703040,16.229133,878860,Music,Desktop,UK,354.612981
122397,vid_3934,2024-06-10 10:50:40.993199,10267,700.0,NaN,27549.714659,23.822365,576756,Tech,Tablet,CA,203.643106
122398,vid_4260,2024-12-22 10:50:40.993199,10240,1616.0,106.0,56967.384382,7.753099,585138,Music,Mobile,UK,351.525811
122399,vid_1056,2024-06-25 10:50:40.993199,9931,770.0,NaN,38466.837135,27.305703,517587,Tech,TV,CA,253.842824

In [108]:
df.drop_duplicates()

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,vid_3092,2024-09-24 10:50:40.993199,9936,1221.0,320.0,26497.214184,2.862137,228086,Entertainment,TV,IN,203.178237
1,vid_3459,2024-09-22 10:50:40.993199,10017,642.0,346.0,15209.747445,23.738069,736015,Gaming,Tablet,CA,140.880508
2,vid_4784,2024-11-21 10:50:40.993199,10097,1979.0,187.0,57332.658498,26.200634,240534,Education,TV,CA,360.134008
3,vid_4078,2025-01-28 10:50:40.993199,10034,1191.0,242.0,31334.517771,11.770340,434482,Entertainment,Mobile,UK,224.638261
4,vid_3522,2025-04-28 10:50:40.993199,9889,1858.0,477.0,15665.666434,6.635854,42030,Education,Mobile,CA,165.514388
...,...,...,...,...,...,...,...,...,...,...,...,...
122395,vid_2902,2024-12-14 10:50:40.993199,9853,1673.0,147.0,42075.704885,25.490195,210818,Education,Tablet,US,280.986396
122396,vid_3890,2024-07-13 10:50:40.993199,10128,1709.0,63.0,57563.703040,16.229133,878860,Music,Desktop,UK,354.612981
122397,vid_3934,2024-06-10 10:50:40.993199,10267,700.0,NaN,27549.714659,23.822365,576756,Tech,Tablet,CA,203.643106
122398,vid_4260,2024-12-22 10:50:40.993199,10240,1616.0,106.0,56967.384382,7.753099,585138,Music,Mobile,UK,351.525811
122399,vid_1056,2024-06-25 10:50:40.993199,9931,770.0,NaN,38466.837135,27.305703,517587,Tech,TV,CA,253.842824

In [109]:
df.isna().sum()

video_id                   0
date                       0
views                      0
likes                   6117
comments                6112
watch_time_minutes      6105
video_length_minutes       0
subscribers                0
category                   0
device                     0
country                    0
ad_revenue_usd             0
dtype: int64

In [110]:
df['comments']=df['comments'].fillna(0)
df['likes']=df['likes'].fillna(0)
df=df[df['ad_revenue_usd']>=0]

In [111]:
df['watch_time_minutes']=df['watch_time_minutes'].fillna(df['watch_time_minutes'].median())

In [112]:
import numpy as np
df['engagement_rate']=(df['likes']+df['comments'])/df['views'].replace(0, np.nan)

In [113]:
df['watch_per_view']=df['watch_time_minutes']/df['views'].replace(0, np.nan)
df['date']=pd.to_datetime(df['date'])

In [114]:
df['month']=df['date'].dt.month
df['is_weekend']=df['date'].dt.dayofweek.apply(lambda x: 1 if x in [5,6] else 0)

In [115]:
encode={'Education':0, 'Tech':1, 'Music':2, 'Entertainment':3, 'Gaming':4, 'Lifestyle':5}
df['category']=df['category'].map(encode)

In [116]:
encode={'TV':0, 'Desktop':1, 'Tablet':2, 'Mobile':3}
df['device']=df['device'].map(encode)

In [117]:
encode={'CA':0, 'DE':1, 'IN':2, 'AU':3, 'UK':4, 'US':5}
df['country']=df['country'].map(encode)

In [127]:
df

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd,engagement_rate,watch_per_view,month,is_weekend
0,vid_3092,2024-09-24 10:50:40.993199,9936,1221.0,320.0,26497.214184,2.862137,228086,3,0,2,203.178237,0.155093,2.666789,9,0
1,vid_3459,2024-09-22 10:50:40.993199,10017,642.0,346.0,15209.747445,23.738069,736015,4,2,0,140.880508,0.098632,1.518393,9,1
2,vid_4784,2024-11-21 10:50:40.993199,10097,1979.0,187.0,57332.658498,26.200634,240534,0,0,0,360.134008,0.214519,5.678187,11,0
3,vid_4078,2025-01-28 10:50:40.993199,10034,1191.0,242.0,31334.517771,11.770340,434482,3,3,4,224.638261,0.142814,3.122834,1,0
4,vid_3522,2025-04-28 10:50:40.993199,9889,1858.0,477.0,15665.666434,6.635854,42030,0,3,0,165.514388,0.236121,1.584151,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122395,vid_2902,2024-12-14 10:50:40.993199,9853,1673.0,147.0,42075.704885,25.490195,210818,0,2,5,280.986396,0.184715,4.270345,12,1
122396,vid_3890,2024-07-13 10:50:40.993199,10128,1709.0,63.0,57563.703040,16.229133,878860,2,1,4,354.612981,0.174961,5.683620,7,1
122397,vid_3934,2024-06-10 10:50:40.993199,10267,700.0,0.0,27549.714659,23.822365,576756,1,2,0,203.643106,0.068180,2.683327,6,0
122398,vid_4260,2024-12-22 10:50:40.993199,10240,1616.0,106.0,56967.384382,7.753099,585138,2,3,4,351.525811,0.168164,5.563221,12,1
122399,vid_1056,2024-06-25 10:50:40.993199,9931,770.0,0.0,38466.837135,27.305703,517587,1,0,0,253.842824,0.077535,3.873410,6,0

In [128]:
x=df.drop(columns=['ad_revenue_usd','video_id','date','device','country'])
y=df['ad_revenue_usd']

In [129]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [130]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [131]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [132]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=mse**0.5
r2=r2_score(y_test,y_pred)

In [133]:
print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RMSE: {rmse}')
print(f'R2: {r2}')

MAE: 4.963016886367904
MSE: 211.40690813259522
RMSE: 14.539838655658983
R2: 0.9448661641316627

In [134]:
from sklearn.linear_model import Ridge
ridge=Ridge(alpha=1.0)
ridge.fit(x_train,y_train)
y_pred_ridge=ridge.predict(x_test)
mae_ridge=mean_absolute_error(y_test,y_pred_ridge)
mse_ridge=mean_squared_error(y_test,y_pred_ridge)
rmse_ridge=mse_ridge**0.5
r2_ridge=r2_score(y_test,y_pred_ridge)
print(f'Ridge MAE: {mae_ridge}')
print(f'Ridge MSE: {mse_ridge}')
print(f'Ridge RMSE: {rmse_ridge}')
print(f'Ridge R2: {r2_ridge}')

Ridge MAE: 4.962969505621391
Ridge MSE: 211.41010865119378
Ridge RMSE: 14.539948715562712
Ridge R2: 0.9448653294528498

In [135]:
from sklearn.linear_model import Lasso
lasso=Lasso(alpha=0.1)
lasso.fit(x_train,y_train)
y_pred_lasso=lasso.predict(x_test)
mae_lasso=mean_absolute_error(y_test,y_pred_lasso)
mse_lasso=mean_squared_error(y_test,y_pred_lasso)
rmse_lasso=mse_lasso**0.5
r2_lasso=r2_score(y_test,y_pred_lasso)
print(f'Lasso MAE: {mae_lasso}')
print(f'Lasso MSE: {mse_lasso}')
print(f'Lasso RMSE: {rmse_lasso}')
print(f'Lasso R2: {r2_lasso}')

Lasso MAE: 5.011434085386218
Lasso MSE: 211.3964180550558
Lasso RMSE: 14.539477915491181
Lasso R2: 0.9448688998900086

In [136]:
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
gbr.fit(x_train,y_train)
y_pred_gbr=gbr.predict(x_test)
mae_gbr=mean_absolute_error(y_test,y_pred_gbr)
mse_gbr=mean_squared_error(y_test,y_pred_gbr)
rmse_gbr=mse_gbr**0.5
r2_gbr=r2_score(y_test,y_pred_gbr)
print(f'GBR MAE: {mae_gbr}')
print(f'GBR MSE: {mse_gbr}')
print(f'GBR RMSE: {rmse_gbr}')
print(f'GBR R2: {r2_gbr}')

GBR MAE: 3.8836207717499573
GBR MSE: 199.5017053177336
GBR RMSE: 14.124507259289919
GBR R2: 0.9479709798814023

In [137]:
import pickle
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)
with open('linear_model.pkl','wb') as f:
    pickle.dump(lr,f)
with open('ridge_model.pkl','wb') as f:
    pickle.dump(ridge,f)
with open('lasso_model.pkl','wb') as f:
    pickle.dump(lasso,f)
with open('gbr_model.pkl','wb') as f:
    pickle.dump(gbr,f)

In [138]:
x

,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,engagement_rate,watch_per_view,month,is_weekend
0,9936,1221.0,320.0,26497.214184,2.862137,228086,3,0.155093,2.666789,9,0
1,10017,642.0,346.0,15209.747445,23.738069,736015,4,0.098632,1.518393,9,1
2,10097,1979.0,187.0,57332.658498,26.200634,240534,0,0.214519,5.678187,11,0
3,10034,1191.0,242.0,31334.517771,11.770340,434482,3,0.142814,3.122834,1,0
4,9889,1858.0,477.0,15665.666434,6.635854,42030,0,0.236121,1.584151,4,0
...,...,...,...,...,...,...,...,...,...,...,...
122395,9853,1673.0,147.0,42075.704885,25.490195,210818,0,0.184715,4.270345,12,1
122396,10128,1709.0,63.0,57563.703040,16.229133,878860,2,0.174961,5.683620,7,1
122397,10267,700.0,0.0,27549.714659,23.822365,576756,1,0.068180,2.683327,6,0
122398,10240,1616.0,106.0,56967.384382,7.753099,585138,2,0.168164,5.563221,12,1
122399,9931,770.0,0.0,38466.837135,27.305703,517587,1,0.077535,3.873410,6,0